<h1>Hello</h1>
<button (click)="openModal()">Add User</button>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Country</th>

    </tr>
  </thead>
  <tbody>
    @for (user of users;track user) {
    <tr>
      <th>{{user.uid}}</th>
      <th>{{user.firstName}}</th>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.country}}</td>
    </tr>
  }
  </tbody>
</table>

<div
  *ngIf="showModal"
  style="
    position: fixed;
    top: 20%;
    left: 30%;
    background: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
  "
>
  <form [formGroup]="userForm">
    <input
      type="text"
      placeholder="First name"
      formControlName="firstName"
    /><br /><br />
    <input
      type="text"
      placeholder="Last name"
      formControlName="lastName"
    /><br /><br />
    <input
      type="email"
      placeholder="email"
      formControlName="email"
    /><br /><br />
    <select formControlName="country">
      <option value="india">India</option>
      <option value="USA">USA</option>
      <option value="Canada">Canada</option>
    </select
    ><br /><br />
    <button type="button" (click)="submitData()">Submit</button>
    <button type="button" (click)="closeModal()">Close</button>
  </form>
</div>
